*.bak
*.bck
*.raw
*.log
*.dcm
*.kicad_pcb-bak
*autosave*
*cache*
*.bin
*.elf
*.hex
*.lss
*.map
*.srec
*.d
*.o
Code/ADC*
Code/USART*
Code/GccQ*
Code/CSharp/Visualize/bin/*
Code/CSharp/Visualize/obj/*
YAWC_Cir/Micro*

